<!DOCTYPE>
<style>
<head>
<header>CSS WORK</header>
<body style=background-color:red{
	padding: 10px;
	background-color: blue;
	font-size: 18px;
	border-radius: 10px
	This is my CSS work.
}
padding:10px;
}